@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  background-color: #3f3f4f;
}

#chartdiv {
  width: 100%;
  height: 900px;
}

a {
  color: #0088cc;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  text-decoration: underline;
}

#link-container {
  text-align: center;
}

.button {
  display: inline-block;
}
